.form {
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    top: 195px;
    margin: 0;
}

@media screen and (max-width: 970px) {
    .form {
        width: 282px;
        padding: 25px 22px 25px;
    }
}