.form {
    width: 430px;
    min-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.form:hover {
    display: none;
}

@media screen and (max-width: 970px) {
    .form {
        width: 282px;
    }
}