.popup__container {
    width: 470px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-self: center;
    top: 155px;
    z-index: 10;
    box-sizing: border-box;
}

@media screen and (max-width: 970px) {
    .popup__container {
        width: 282px;
        top: 87px;
    }
}